<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>ngx-time-picker</h1>
      <p>Demo app 🎉</p>
      <div class="">
        <div class="item">
          <h3>ngx-time-picker with form control</h3>
          <form [formGroup]="form">
            <ngx-time-picker formControlName="time"></ngx-time-picker>
          </form>
          <p>
            {{form.value.time ? 'Value: '+form.value.time : ''}}
          </p>
        </div>
        <div class="item">
          <h3>ngx-time-picker with ngModel</h3>
          <ngx-time-picker [(ngModel)]="time" placeholder="Pick Time"></ngx-time-picker>
          <p>
            {{time ? 'Value: '+time : ''}}
          </p>
        </div>
        <div class="item">
          <h3>ngx-time-picker with custom classes</h3>
          <ngx-time-picker [(ngModel)]="customTime" inputClass="input" dropdownClass="dropdown"
            selectedClass="selected"></ngx-time-picker>
          <p>
            {{customTime ? 'Value: '+customTime : ''}}
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
