/* You can add global styles to this file, and also import other style files */
.input {
  background-color: red;
  padding: 8px 16px;
}

.selected {
  background: red;
  color: white;
}

.dropdown {
  background: #333 !important;
  color: white !important;
}
